body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #292929;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}
nav a:hover {
    background-color: #555;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
.content {
    color: white; /*THIS IS TEXT COLOR. THOUGHT I SHOULD MAKE THAT CLEAR. - coolboy*/
    padding: 20px;
    background-color: #292929;
    margin-top: 20px;
    margin-bottom: 100px;
}
.discord-button {
    background-color: #7289DA;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
.discord-button:hover {
    background-color: #5f73ba;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
@media (max-width: 1023px) {
    .content {
        margin-top: -10px;
        margin-bottom: 150px;
    }
}

p,h1,h2,h3,h4,h5,h6 {
    color:white;
}

.disclamer {
    color: rgb(131, 131, 131)
}

hr {
    border-top: 1px solid #ffffff;
}

.money {
    font-weight: bold;
    color:rgb(149, 255, 79);
}

div.prices {
    border: 2px solid #0c0c0c;
    padding: 10px;
    border-radius: 20px;
    background-color: #1a1a1a;
}